
- content_for :title do
  Users

- content_for :navigation do
  = render :partial => "admin/navigation", :locals => { :current_path => admin_users_path }

- content_for :body do
  %div
    - if @users && !@users.empty?
      %p= will_paginate @users
      %table.users
        %tr
          %th Facebook ID
          %th Coupons
        - @users.each do |user|
          %tr
            %td= link_to user.facebook_id, admin_user_path(user)
            %td= user.coupons.count
      %p= page_entries_info @campaigns
    - else
      %p No users
